.carritos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carrito {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .carrito p {
    margin: 5px 0;
  }
  
  .carrito ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carrito li {
    margin: 5px 0;
  }
  
  hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
  }
  